* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: center;
}

main {
    display: flex;
}
section {
    padding: 32px;
}

.one-half {
    width: 30%;
    background-color: #f9f9f9;
    height: 100vh;
    position: fixed;
    box-shadow: 0 0 10px #bfbfbf;
}

.two-half {
    width: 70%;
    margin-left: 30%;
}

input[type=text], input[type=number] {
    font-size: 18px;
    padding: 8px 24px;
    margin: 12px;
    border: 1px solid #cecece;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0);
}

input:focus, button:focus {
    outline: none;
}

#piramide {
    text-align: center;
    line-height: .8;
    transition: all 1s ease;
    color: #ffffff;
}

button {
   font-size: 18px;
   color: #72c572;
   border: 2px solid #72c572;
   padding: 8px 24px;
   border-radius: 50px;
   background-color: rgba(255,255,255, 0);
   transition: all .3s ease-in-out;
}

button:hover {
    cursor: pointer;
    color: #ffffff;
   border: 2px solid #72c572;
   padding: 8px 24px;
   border-radius: 50px;
   background-color: #72c572;
}

.colores {
    margin: 24px 0;
}

.container {
    display: inline-block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
  }

  .colorUno {
      background-color: #c82a54;
  }

  .colorDos {
      background-color: #ef280f;
  }

  .colorTres {
      background-color: #e36b2c;
  }

  .colorCuatro {
      background-color: #e39a2c; 
  }

  .colorCinco {
      background-color: #e7d40a;
  }

  .colorSeis {
      background-color: #6dc36d;
  }

  .colorSiete {
      background-color: #02ac66;
  }

  .colorOcho {
      background-color: #23bac4;
  }

  .colorNueve {
      background-color: #109dfa;
  }
  
  .colorDiez {
      background-color: #024a86;
  }

  .colorOnce {
      background-color: #e69dfb;
  }

  .colorDoce {
      background-color: #ff689d;
  }

  .colorTrece {
      background-color: #bba9bb;
  }

  .colorCatorce {
      background-color: #8c4966;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      box-shadow: 0 0 5px #666666;
      transition: all .5s ease;
  }